## Libraries/modules used in Abstractive Summary 
re
nltk
string
tkinter
transformers
tensorflow==2.3.1
T5tokenizer(pre-trained transformer)

## Libraries/modules used in Extrative Summary 
re
os
nltk
numpy
tkinter
